:root {
    --input-box-border: 1px solid #999;
}

body {
    text-align: center;
}

form {
    display: inline-block;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input, textarea {
    font: 1rem sans-serif;
    width: 300px;
    box-sizing: border-box;
    border:var(--input-box-border);
}

input:focus, textarea:focus {
    outline-style: solid;
    outline-color: #000;
}

textarea {
    vertical-align: top;
    height: 5rem;
}

.btn {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}